.posts-container{
	width: 45% !important;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.post-container{
	position: relative;
	border: 1px solid rgba(128, 128, 128, 0.5);
	border-top: none
}

.post-content{
	text-align: left;
	padding: 0 20px;
	border: 1px solid rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	margin: 20px;
	cursor: pointer;
}

.post-container a{
	text-decoration: none;
	color: black !important;
}

.post-content p, .post-content h2, .post-content h5{
	margin: 5px 0;
	font-size: 0.9em;
}
