#on-hover{
    width: 100%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    text-align: justify;
    border-radius: 10px;
    position: relative;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

#more{
    position: absolute;
    bottom: 0px;
    font-size: 15px;
}

#more:hover{
    cursor: pointer;
    animation: pulse 1s linear;
}

#top-news-2{
    display: none;
}

#on-hover:hover #top-news{
    display: none;
}


#on-hover:hover #top-news-2{
    display: block;
}

@media screen and (max-width: 1000px){
	.intro{
		padding-top: 150px;
	}

	#on-hover, .offer_text{
		z-index: 5;
	}
}

@media (max-width: 780px) {
	.offer_text{
		display: none;;
	}

    #on-hover{
        height: 300px;
    }
}

@media screen and (max-width: 500px){
    #on-hover{
        height: 400px;
    }
}