#section-2{
    background-color: whitesmoke;
	padding-top: 90px;
}

#section-2 h2{
    font-family: 'Lobster', cursive, serif;
    color: #fcdb00;
    text-shadow: 1.5px 1.5px rgba(8, 8, 8, 0.466);
}

#section-2 p{
    font-family: 'Lobster', cursive, serif;
    color: black;
    text-shadow: 1.2px 1.2px rgba(8, 8, 8, 0.466);
    font-size: 24px;
}

.cont-color{
    background-color: whitesmoke;
}

#section-2 .card{
    border-radius: 0px 0px 20px 20px;
    border: 2px solid #fcdb00;
    box-shadow: 1px 5px 5px rgba(247, 222, 1, 0.5);

}

.margin-left{
    margin-left: 2px;
}

@media screen and (max-width: 500px){
    #section-2 .container h2{
        padding-top: 0px !important; 
    }
}