*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
}

.wrapper{
	width: 90%;
	margin: 0 auto;
}

.nav{
	padding-top: 20px;
}

ul{
	list-style: none;
	text-transform: uppercase;
	display: flex;
	justify-content:flex-start;
	background-color: #333333;
	margin-bottom: 10px;
}

#homeBtn, #cartBtn{
	display: inline-block;
	line-height: 50px;
	text-decoration: none;
	color: white;
	font-size: 25px;
	padding: 0 30px;
	border-right: 3px solid white;
	transition: all 0.5s ease;
}

#homeBtn:hover{
	background-color: rgb(0, 77, 0);
} 
#cartBtn:hover{
	background-color: rgb(0, 77, 0);
}

.active{
	background-color: green;
}

.products{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 2%;
	column-gap: 2%;
	justify-content: center;
	text-align: center;
}

img{
	width: 90%;
}

.card {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid black;
	background-color: #F5FAF5;
	box-shadow: 0 2px 5px #b0ffb7;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s ease;
} 

.card:hover {
	box-shadow: 2px 5px 10px #b0ffb7;
	background-color: rgba(102, 255, 102, 0.3);
}

h2{
	color: green;
	padding: 10px;
}

h3{
	margin-top: 10px;
}

button{
	margin: 25px 0;
	font-size: 20px;
	padding: 10px 30px;
	text-transform: uppercase;
	background-color: green;
	color: white;
	border-radius: 5px;
	transition: all 0.5s ease;
}

button:hover{
	transform: scale(1.05);
	background-color: rgba(0, 128, 0, 0.5);
	font-weight: 700;
}

input{
	width: 100px;
	text-align: center;
	margin: 0 0 10px 5px;
	font-size: 20px;
}

.table{
	margin-top: 10px;
	display: grid;
	grid-template-columns: 55% 15% 15% 15% !important;
	row-gap: 0;
	column-gap: 0;
}

.head{
	padding: 10px 0;
	font-size: 20px;
	font-weight: 700;
	color: white;
	background-color: #333333;
	border: 1px solid black;
}
#head-title{
	text-transform: uppercase;
	grid-column: 1;
    grid-row: 1;
}
#head-price{
	text-transform: uppercase;
	grid-column: 2;
    grid-row: 1;
}
#head-count{
	text-transform: uppercase;
	grid-column: 3;
    grid-row: 1;
}
#head-total{
	text-transform: uppercase;
	grid-column: 4;
    grid-row: 1;
}
.grid{
	font-size: 20px;
	border: 1px solid black;
	padding: 15px;
	text-align: left;
}
#title_0{
	grid-column: 1;
    grid-row: 2;
	border-left: 2px solid black;
}
#price_0{
	grid-column: 2;
    grid-row: 2;
}
#count_0{
	grid-column: 3;
    grid-row: 2;
}
#total_0{
	grid-column: 4;
    grid-row: 2;
	border-right: 2px solid black;
}
#title_1{
	grid-column: 1;
    grid-row: 3;
	background-color: #dfdfdf;
	border-left: 2px solid black;
}
#price_1{
	grid-column: 2;
    grid-row: 3;
	background-color: #dfdfdf;
}
#count_1{
	grid-column: 3;
    grid-row: 3;
	background-color: #dfdfdf;
}
#total_1{
	grid-column: 4;
    grid-row: 3;
	background-color: #dfdfdf;
	border-right: 2px solid black;
}
#title_2{
	grid-column: 1;
    grid-row: 4;
	border-left: 2px solid black;
}
#price_2{
	grid-column: 2;
    grid-row: 4;
}
#count_2{
	grid-column: 3;
    grid-row: 4;
}
#total_2{
	grid-column: 4;
    grid-row: 4;
	border-right: 2px solid black;
}
#title_3{
	grid-column: 1;
    grid-row: 5;
	background-color: #dfdfdf;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}
#price_3{
	grid-column: 2;
    grid-row: 5;
	background-color: #dfdfdf;
	border-bottom: 2px solid black;
	
}
#count_3{
	grid-column: 3;
    grid-row: 5;
	background-color: #dfdfdf;
	border-bottom: 2px solid black;
}
#total_3{
	grid-column: 4;
    grid-row: 5;
	background-color: #dfdfdf;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}
#total-price{
	text-align: right;
	margin-top: 10px;
	font-size: 40px;
	font-weight: 700;
	color: red;
	grid-column: 3/5;
	grid-row:6;
}