.App {
  text-align: center;
  width: 100%;
  height: calc(100vh - 57px) !important;
  padding-top: 30px;
  background: linear-gradient(10deg,
  rgba(255, 255, 255, 0.8) 0%,
  rgba(255, 255, 255, 0.8) 100%), url(https://www.techrepublic.com/a/hub/i/r/2020/01/09/e22ab1a3-aaff-4fb9-a16c-b35a8d6f2387/resize/1200x/6f662af9eab9a71ff3bc665c1bd24d50/istock-1127745240.jpg);
  background-repeat: none; 
  background-size: cover;
}

.todo-container{
  width: 800px;
  margin: 0px auto;
}
