.wrap {
	padding-top: 180px;
	perspective: 1000px;
	perspective-origin: 50% 50%;
}
.cube {
	margin: auto;
	position: relative;
	height: 200px;
	width: 200px;
	transform-style: preserve-3d;
}

.cube > div {
	position: absolute;
	left: 20px;
	top: 20px;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	opacity: 0.9;
	background-color: #000;
	border: solid 1px #eeeeee;
	color: #ffffff;
}
.front {
	transform: translateZ(100px);
	background:url(./../../img/cube_blue.png) no-repeat;
	background-size: cover;
}

.back {
	transform: translateZ(-100px) rotateY(180deg);
	background:url(./../../img/cube_green.png) no-repeat;
	background-size: cover;
}

.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
	background:url(./../../img/cube_orange.png) no-repeat;
	background-size: cover;
}

.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
	background:url(./../../img/cube_red.png) no-repeat;
	background-size: cover;
}

.top {
	transform: rotateX(-270deg) translateY(-100px);
	transform-origin: top center;
	background:url(./../../img/cube_white.png) no-repeat;
	background-size: cover;
}

.bottom {
	transform: rotateX(270deg) translateY(100px);
	transform-origin: bottom center;
	background:url(./../../img/cube_yellow.png) no-repeat;
	background-size: cover;
}

@keyframes rotate {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}
	to {
		transform: rotateX(360deg) rotateY(360deg);
	}
}

.cube {
	animation: rotate 20s infinite linear;
}

.wrap:hover .front {
	transform: translateZ(150px);
}

.wrap:hover .back {
	transform: translateZ(-150px) rotateY(180deg);
}

.wrap:hover .right {
	transform: rotateY(-270deg) translateZ(50px) translateX(100px);
}

.wrap:hover .left {
	transform: rotateY(270deg) translateZ(50px) translateX(-100px);
}

.wrap:hover .top {
	transform: rotateX(-270deg) translateZ(50px) translateY(-100px);
}

.wrap:hover .bottom {
	transform: rotateX(270deg) translateZ(50px) translateY(100px);
}

.cube > div {
	transition: transform 0.2s ease-in;
}

@media screen and (max-width: 1000px){
	#cube-3d{
		display: none;
	}
}

@media screen and (max-width: 500px){
	#cube-3d{
		display: block;
	}
}