body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App{
  width: 90vw;
  margin: 20px auto;
}

.App-nav{
  width: 80%;
  display: flex;
  margin: 40px auto 10px auto;
  justify-content: center;
  list-style: none;
}

.App-nav li{
  margin-right: 15px;
}

.App-nav li a{
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.App-nav li a.active{
  color: red;
}

.text-to-center{
  text-align: center;
}

.Post {
  text-align: center;
  display: flex;
}